@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Syne:wght@400;700&display=swap');
body{
    margin: 0 auto;
    width: 1080px;    
    font-family: 'Syne', sans-serif;
    
}

/* Estilos del Header 
###############################################
###############################################*/

header{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/Banner.svg);
    background-size: cover;
    height: 300px;
    
}
.perfil, .der, 
header p, h1, .vibras{
    position: absolute;
}
.perfil {
    left: 20px;
    top: 40px;
    width: 250px;
    border-radius: 50%;
    border: white solid 2px;    
}

.der {
    right: 0px;
    width: 250px;
}

header p{
    right: 50px;
    bottom: 10px;
    color:white;
}

h1 {
    left: 35%;
    top: 80px;
    color: white;
}

.vibras{
    top:255px;
    left: 0px;
    width: 180px;
    z-index: 3;
}



/* Estilos del MAIN 
###############################################
############################################### */

main{
    position: relative;
    flex-wrap: wrap;
    background-color: #1d1d1d;
    margin-top: -30px;
    height: 1750px;
}

.stiker{
    position: relative;
    top: 50px;
    right: 50px;
    width:200px;
}


/* Estilos de la BOX EXPERIENCIA
###############################################
############################################### */
.experiencia {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 300px;
    color:aliceblue;
    font-size: 30px;
    
}

.experiencia article{
    position: relative;
    font-family: 'Lato', sans-serif;
    color:aliceblue;
    margin-top: 50px;
    font-size: 15px;
    left: 50px;
    line-height: 20px;
}


/* Estilos de la BOX DATOS PERSONALES
###############################################
############################################### */

.personal, 
.personal h2, .subrayado, 
.fondo1, .detalle, 
.subrayado2, .personal ul {
    position: absolute;
}

.personal{
    right: 0px;
    top: 30px;
    width: 500px;
    font-size: 30px;
}

.personal h2{
    bottom: 240px;
    top: 10px;
    color:aliceblue;
    
}

.subrayado {
    top: 100px;
    width: 300px;
}

.fondo1{
    top: 150px;
    width: 400px;
}

.detalle{
    top:450px;
    left:250px;
    width: 150px;
}

.subrayado2 {
    right: 150px;
    top: 105px;
    width: 300px;    
}

.personal ul{
    right: 120px;
    top: 170px;
}

.personal li{
    font-size: 15px;
    line-height: 45px;
    list-style: none;
}

.personal .salto {
    position: relative;
    top: 20px;
    right: 20px;
}

.negrita {
    font-weight: 700;
}



/* Estilos de la BOX EDUCACION
###############################################
############################################### */

.educacion, .educacion li, 
.educacion .salto{
    position: relative;
}

.educacion {
    top: 630px;
    left: 600px;
    width: 400px;
    color:aliceblue;
    font-size: 30px;
    
}

.edu {
    position: absolute;
    top: 0px;
    right: 390px;
    height: 200px;
}

.educacion ul{
    position: absolute;
    top: 80px;
    right: 0px;
    list-style: none;
    font-size: 20px;
}

.educacion li{
    margin-bottom: 30px;
}

.educacion .salto {
    left: 95px;
}



/* Estilos de la BOX Softwares
###############################################
############################################### */

.software {
    position: absolute;
    top:1100px;
    right: 150px;
    width: 300px;
    height: 200px;
    color:aliceblue;
    text-align: center;
    font-size: 30px;
}

.logo{
    position: relative;
    margin: 10px;
    width: 50px;
}
.sof{
    position: absolute;
    bottom:85px;
    right: 5px;
    width: 300px;
}

/* Estilos de la BOX IDIOMAS
###############################################
############################################### */

.idioma {
    position: absolute;
    top: 1450px;
    left: 50px;
    color:aliceblue;
    text-align: center;
    font-size: 30px;
}
.idioma ul {
    position:relative;
    list-style: none;
    right: 50px;
    text-align: left;
    line-height: 50px;
    font-size: 20px;
}
.idioma li:last-child{
    position:relative;
    left: 20px;
}
.idioma span{
    position: relative;
    left: 50px;    
}

.hor{
    position: relative;
    bottom: 10px;
    left: 30px;
    width: 100px;
}

.vert{
    position: absolute;
    top: 1450px;
    left: 460px;
    width:10px;
    height: 250px;
}

/* Estilos de la BOX LENGUAJES
###############################################
############################################### */

.lenguajes {
    position: absolute;
    top: 1450px;
    right: 200px;
    width: 250px;
    height: 200px;
    color:aliceblue;
    text-align: center;
    font-size: 30px;
}


/* Estilos del FOOTER
###############################################
############################################### */

footer{
    background-image: url(../img/detalles/footer.svg);
    background-color: #1d1d1d;
    background-size: cover;
    margin-top: -25px;
    height: 150px;
    
}
.sociales {
    position: relative;
    width: 300px;
    left: 70px;
    font-size: 15px;
    color:aliceblue; 
    text-align: center;
    line-height: 20px;
}
.sociales a{
    color:aliceblue;
    margin: 10px;
    font-size: 30px;
}
.circulo {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 400px;
}

/* Estilo link sobre mi 
################################################
################################################*/

.sobremi{
    position: relative;
    left: 650px;
    width: 200px;
    border: 3px solid #1d1d1d;
    border-radius: 20%;
    text-align: center;
}
.sobremi a{
    text-decoration: none;
    color:#1d1d1d;
    font-size: 20px;
    font-weight: bold;
}


/* -------------------------ESTILOS PAGINA 2 (SOBRE MI)---------------------- 
##############################################################################
##############################################################################
##############################################################################
##############################################################################*/

.main2{
    display: flex;
    height: fit-content;
    margin-top: 7px;
}
.sobremi2 {
    color:aliceblue;
    height: 500px;
    text-align: justify;
    margin: 100px 100px 300px;
    font-size: 20px;
    
}

.sobremi2 h2{
    text-align: center;
    font-size: 30px;
}

.sobremi2 img{
    position:relative;
    bottom: 30px;
    left: 300px;
    width: 300px;
}