@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Syne:wght@400;700&display=swap');
body{
    margin: auto;
    width: 1080px;
    height: 100%;
    font-family: 'Syne', sans-serif;
}

/* Estilos del Header 
###############################################
###############################################*/

header{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/Banner.svg);
    background-size: cover;
    height: 300px;
    
}

.perfil {
    position:absolute;
    left: 20px;
    top: 40px;
    width: 250px;
    border-radius: 50%;
    border: white solid 2px;    
}

.der {
    position: absolute;
    right: 0px;
    width: 250px;
}

header p{
    position: absolute;
    right: 50px;
    bottom: 10px;
    color:white;
}

h1 {
    position: absolute;
    left: 35%;
    top: 80px;
    color: white;
}

.vibras{
    position:absolute;
    top:255px;
    left: 0px;
    width: 180px;
    z-index: 3;
}

/* Estilos del MAIN
###############################################
############################################### */

main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #1d1d1d;
    margin-top: 10px;
    height: 1920px;
}

/* Estilo link sobre mi 
-----------------------*/
.circulo {
    position: absolute;
    top: 140px;
    left: 440px;
    width: 140px;
}
.sobremi{
    position: absolute;
    top: 150px;
    left: 450px;
    text-decoration: none;
    color:aliceblue;
    z-index: 3;
    font-size: 30px;

    
}


/* Estilos Main Izquierdo 
------------------------*/ 
.experiencia h2 {
    position: absolute;
    top: 30px;
    left: 150px;
    color:aliceblue;
    font-size: 30px;
    
}

.subrayado {
    position: absolute;
    top: 90px;
    left: 150px;
    width: 200px;
}
.experiencia article{
    position: absolute;
    font-family: 'Lato', sans-serif;
    color:aliceblue;
    font-size: 15px;
    left: 100px;
}
.art1 {
    top: 100px;
}
.art2 {
    top: 300px;
}
.art3 {
    top: 470px;
}

h4 {
    position:relative;
    top: 20px;
    font-weight: 300;
}


/* Estilos Main Derecho 
-----------------------*/
.personal img:first-child{
    position:absolute;
    right: 50px;
    top: 150px;
    width: 500px;
    height: 350px;
}

.detalle{
    position: absolute;
    right: 100px;
    top: 400px;
    width: 150px;
}

.personal h2{
    position: absolute;
    right: 100px;
    top: 50px;
    color:aliceblue;
    font-size: 30px;
}

.subrayado2 {
    position:absolute;
    right: 150px;
    top: 105px;
    width: 200px;    
}
.personal ul{
    position: absolute;
    right: 120px;
    top: 170px;
}
.personal li{
    font-size: 15px;
    line-height: 45px;
    list-style: none;
}
.negrita {
    font-weight: 700;
}
.personal .salto {
    position: relative;
    top: 20px;
    right: 20px;
}
/*-----------------------
-------------------------*/

.educacion h2 {
    position: absolute;
    top: 570px;
    right: 200px;
    color:aliceblue;
    font-size: 30px;
}

.edu {
    position: absolute;
    top: 580px;
    right: 370px;
    width: 50px;
}

.educacion ul{
    position: absolute;
    top: 680px;
    right: 100px;
    color:aliceblue;
    list-style: none;
}

.educacion li:nth-child(2){
    position: relative;
    top: 20px;
}
.educacion li:last-child{
    position: relative;
    top: 40px;
}

.educacion .salto, .educacion .salto2{
    position:relative;
    left: 95px;
}

/* Estilos Seccion Sftoware
-------------------------*/

.software {
    position: absolute;
    bottom:700px;
    right: 150px;
    width: 300px;
    height: 200px;
    color:aliceblue;
    text-align: center;
    font-size: 20px;
}

.logo{
    position: relative;
    margin: 10px;
    width: 50px;
}
.sof{
    position: absolute;
    bottom:130px;
    right: 80px;
}